#contentApp{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 3% 77% 10%;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas:
    "header header"
    "datetime datetime"
    "info image"
    "footer footer";
} 


#image{
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 50%;
}

#info{
    grid-area: info;
    margin-top: 9vh;
    margin-bottom: 9vh;
    margin-left: 10%;
}

h1{
    margin-bottom: 6%;
    font-size: 7vh;
    font-weight: normal;
}


.menuButton{
    font-size: 4vh;
    width: 65vh;
    height: 9vh;
    margin-top: 3vh;
    margin-left: 2vh;
    background-color: #002235;
    color: white;
    border-radius: 1vh;
}


#footer{
    grid-area: footer;
    display: flex;
}

#datetime{
    grid-area: datetime;
}

.logout{
    margin-top: 1vh;
    height: 50%;
    font-size: 3vh;
    width: 22vh;
    background-color: #6F2727;
    color: white;
    border-radius: 1vh;
    margin-left: 3vh;
}

.time{
    text-align: right;
    margin-right: 2vh;
    font-weight: bold;
    font-size: 2.5vh;
}

